@mixin roundTopBorders {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.newbieSection {
    padding: 5%;

    &__project {
        width: 80%;
        margin: 1em auto 0;
        border: 2px solid lightblue;
        @include roundTopBorders();
        background-color: lightblue;
        color: white;
        display: flex;
        flex-direction: column;

        &__imgDiv {
            width: 100%;
            aspect-ratio: 1/1;
            @include roundTopBorders();

            img {
                width: 100%;
                aspect-ratio: 1/1;
                @include roundTopBorders();
            }
        }
        
        &__title {
            text-align: center;
        }

        &__link {
            color: lightblue;
            text-decoration: none;
            background-color: white;
            padding: 0.5em 1em;
            text-align: center;
            margin-top: 1rem;
            @include roundTopBorders();
        }
    }
}


@media screen and (min-width: 675px) {
    .newbieSection {
        padding: 0;
        // width: 95%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__project {
            width: 40%;
        }
    }
}

@media screen and (min-width: 1000px) {
    .newbieSection {

        &__project {
            width: 30%;
        }
    }
}


@media screen and (min-width: 1400px) {
    .newbieSection {
        width: 80%;
    }
}