@import 'variables';

.previewCardPage {
    background-color: $Very-dark-blue-main-background;
    font-size: $body-font-size;
    width: 100%;
    height: 100vh;
}

.previewCard {
    width: 90%;
    background-color: $Dark-desaturated-blue-card-background;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;

    &__img {
        width: 100%;
        color: $Soft-violet-accent;
    }
}