@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');



*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Fraunces;    
}
 
.attribution {
    text-align: center;
    background-color: $primary-color-cream;
}

.productPreview {
    height: 100vh;
    width: 100%;
    background-color: $primary-color-cream;
    padding: 5% 0;
}


.productPreview__card {
    width: 90%;
    margin: 0 auto;
    background-color: $neutral-color-white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    &__imgBox {
        width: 100%;

        &__img {
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    &__info {
        width: 85%;
        margin: 7% auto;
        padding-bottom: 7%;

        &__type {
            color: $neutral-color-dark-grayish-blue;
            font-size: $parapgrah-font-size;
            letter-spacing: 0.3rem;
            font-weight: 500;
            padding-bottom: 7%;
        }

        &__title {
            color: $neutral-color-very-dark-blue;
            font-family: Fraunces;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2rem;
        }

        &__description {
            font-size: $parapgrah-font-size;
            font-weight: 400;
            color: $neutral-color-dark-grayish-blue;
            padding: 1.5rem 0;
        }

        &__price {
            display: flex;
            justify-content: flex-start;
            gap: 1rem;
            align-items: center;
            padding-bottom: 1rem;

            p {
                padding: 0;
                color: $primary-color-dark-cyan;
                font-family: Fraunces;
                font-size: 2rem;
                font-weight: 700;
            }

            span {
                color: $neutral-color-dark-grayish-blue;
                text-decoration: line-through;
                font-size: 500;
                font-size: $parapgrah-font-size;
            }
        }

        &__btnAdd {
            background-color: $primary-color-dark-cyan;
            color: $neutral-color-white;
            width: 100%;
            padding: 0.75rem;
            border: none;
            border-radius: 5px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            &:hover {
                cursor: pointer;
                background-color: darken($primary-color-dark-cyan, 10%);
            }
        }

    }
}