@media screen and (min-width: 500px) {
    .navigationBar {
        &__titleBox {
            width: 70px;
            aspect-ratio: 1/1;
            font-size: 1rem;
        }

        &__burger {
            width: 70px;
        }
    }
}

@media screen and (min-width: 675px) {
    .navigationBar {
        &__titleBox {
            font-size: 12px;
        }
    }
}

@media (min-width: 1400px) {
    .headerNavigation {
        width: 80%;
        margin: 0 auto;
    }

    .navigationBar {
        &__titleBox {
            font-size: 14px;
        }
    }
}