@media screen and (min-width: 500px) and (max-width: 999px){
    .navigationBar {

        &__titleBox {
            width: 20%;
        }

        &__burger {
            width: 7%;
        }
    }
}

@media screen and (min-width: 1000px) {
    .navigationBar {
        &__burger {
            width: 5%;
        }
    }
}

@media (min-width: 1400px) {
    .headerNavigation {
        width: 80%;
        margin: 0 auto;
    }
}