@media screen and (min-width: 500px) and (max-width: 999px){
    .navigationBar {

        // &__titleBox {
        //     width: 20%;
        // }

        &__burger {
            background-color: red;
            border: 3px solid orange;
            width: 7%;
        }
    }
}

@media screen and (min-width: 1000px) {
    .navigationBar {
        &__burger {
            background-color: blue;
            width: 5%;
        }
    }
}

@media (min-width: 1400px) {
    .headerNavigation {
        width: 80%;
        margin: 0 auto;
    }
    .navigationBar {
        &__burger {
            background-color: orange;
            border: 3px solid red;
            // width: 2%;
        }
    }
}